MIRRORAPI_URL=http://127.0.0.1:8080
VLLM_URL=http://127.0.0.1:12345/v1
VLLM_API_KEY=EMPTY
MIRRORAPI_MODEL_PATH=/path/to/MirrorAPI
MIRRORAPI_MODEL_NAME=MirrorAPI
STABLETOOLBENCH_PATH=/path/to/StableToolBench
TOOLS_PATH=/path/to/tools
CUDA_VISIBLE_DEVICES=
